@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme {
    --color-espresso: #3E2723;
    --color-butter: #FFEDAC;

    --font-inter: "Inter", sans-serif;
}

.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
 }

 .toggleCheckbox:checked + .toggleContainer div:first-child{
    color: var(--color-butter);
    transition: color 0.3s;
 }
 .toggleCheckbox:checked + .toggleContainer div:last-child{
    color: var(--color-espresso);
    transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:first-child{
    color: var(--color-espresso);
    transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:last-child{
    color: var(--color-butter);
    transition: color 0.3s;
 }
 